<form id="reservationFlightSearchForm" class="form " method="post" name="reservationFlightSearchForm">
                                     <h3 class="title"><img src="img/common/ico_arplusblue.png" alt="Ingresá a tu cuenta AR Plus" role="presentation"> Ingresar a mi cuenta</h3>
                                    <div class="content">
                                        <fieldset>
                                                <legend class="sr-only">Ingresar a mi cuenta</legend>
                                                <div class="form-group">
                                                    <label class="sr-only" for="NroSocio">Número de Socio</label>
                                                    <input type="text" class="form-control" id="NroSocio" placeholder="Número de Socio" name="NroSocio">
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <a class="small" href="/es-ar/aerolineas_plus/mi_cuenta_plus/olvidastetunrosocio">Olvidaste tu Nº de Socio?</a>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="Clave">Password</label>
                                                    <input type="password" class="form-control" id="Clave" placeholder="Password" name="Clave">
                                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                                    <a class="small" href="/es-ar/aerolineas_plus/mi_cuenta_plus/olvidastetuclave1">Olvidaste tu Clave?</a>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="input2">Label</label>
                                                    <input type="text" class="form-control" id="input2" placeholder="..." name="input2">
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                           <a class="small underline btn_ingreso" href="/es-ar/aerolineas_plus/mi_cuenta_plus/primeravez">Primera vez que ingreso</a> 
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group btn-block">
                                                    <input type="submit" value="Aceptar" class="btn btn-primary btn-block" />
                                                </div>
                                                    </div>
                                                </div>

                                        </fieldset>
                                    </div>
                                </form>